@layer base {
    .rounded-6xl {
        border-radius: 3rem;
    }

    .rounded-5xl {
        border-radius: 2.2rem;
    }
}

body {
    background-image: url("../assets/background.png");
    background-size: 100% 150px;
    overflow-x: hidden;
    /* background by SVGBackgrounds.com */
}

.borderAppStore {
    border: 1.5px black solid;
    border-radius: 10px;
}

.mainContainer {
    height: calc(100vh)
}

.innerContainer {
    margin-top: -10vh;
}

.siteWrapper {
    width: 100vw;
    position: relative;
    overflow-x: hidden
}

@tailwind base;
@tailwind components;
@tailwind utilities;
