<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>199463487127-2vjkf9a54ck0i95jftan4e4pdot6gltj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.199463487127-2vjkf9a54ck0i95jftan4e4pdot6gltj</string>
	<key>API_KEY</key>
	<string>AIzaSyAaVJIm1qqfKwKv4A_KortdnM406L5pb30</string>
	<key>GCM_SENDER_ID</key>
	<string>199463487127</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.neiltools.stoical</string>
	<key>PROJECT_ID</key>
	<string>stoicalapp</string>
	<key>STORAGE_BUCKET</key>
	<string>stoicalapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:199463487127:ios:820438601ff67ccf1c4bd2</string>
</dict>
</plist>