/***************************************************
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

.svg1 .svg-elem-1 {
    stroke-dashoffset: 200.74818420410156px;
    stroke-dasharray: 200.74818420410156px;
    fill: transparent;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.1s;
}

.svg1.active .svg-elem-1 {
    stroke-dashoffset: 0;
    fill: rgb(104, 116, 232);
}

.svg1 .svg-elem-2 {
    stroke-dashoffset: 238.38368225097656px;
    stroke-dasharray: 238.38368225097656px;
    fill: transparent;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s,
    fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.2s;
}

.svg1.active .svg-elem-2 {
    stroke-dashoffset: 0;
    fill: rgb(104, 116, 232);
}

.svg1 .svg-elem-3 {
    stroke-dashoffset: 240.7927703857422px;
    stroke-dasharray: 240.7927703857422px;
    fill: transparent;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s,
    fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.3s;
}

.svg1.active .svg-elem-3 {
    stroke-dashoffset: 0;
    fill: rgb(104, 116, 232);
}

.svg1 .svg-elem-4 {
    stroke-dashoffset: 506.48443603515625px;
    stroke-dasharray: 506.48443603515625px;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s,
    fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.4s;

}

.svg1.active .svg-elem-4 {
    stroke-dashoffset: 0;
}

.svg1 .svg-elem-5 {
    stroke-dashoffset: 2539.7412109375px;
    stroke-dasharray: 2539.7412109375px;
    fill: transparent;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s,
    fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
}

.svg1.active .svg-elem-5 {
    stroke-dashoffset: 0;
    fill: rgb(255, 255, 255);
}

.svg2 .svg-elem-1 {
    stroke-dashoffset: 401.4963684082031px;
    stroke-dasharray: 200.74818420410156px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.2s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.2s;
}

.svg2.active .svg-elem-1 {
    stroke-dashoffset: 200.74818420410156px;
    fill: transparent;
}

.svg2 .svg-elem-2 {
    stroke-dashoffset: 476.7673645019531px;
    stroke-dasharray: 238.38368225097656px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s,
    fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.3s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s,
    fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.3s;
}

.svg2.active .svg-elem-2 {
    stroke-dashoffset: 238.38368225097656px;
    fill: transparent;
}

.svg2 .svg-elem-3 {
    stroke-dashoffset: 481.5855407714844px;
    stroke-dasharray: 240.7927703857422px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s,
    fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.4s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s,
    fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.4s;
}

.svg2.active .svg-elem-3 {
    stroke-dashoffset: 240.7927703857422px;
    fill: transparent;
}

.svg2 .svg-elem-4 {
    stroke-dashoffset: 1012.9688720703125px;
    stroke-dasharray: 506.48443603515625px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s,
    fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s,
    fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s;
}

.svg2.active .svg-elem-4 {
    stroke-dashoffset: 506.48443603515625px;
    fill: transparent;
}

.svg2 .svg-elem-5 {
    stroke-dashoffset: 5079.482421875px;
    stroke-dasharray: 2539.7412109375px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s,
    fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s,
    fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s;
}

.svg2.active .svg-elem-5 {
    stroke-dashoffset: 2539.7412109375px;
    fill: transparent;
}
